.blog-preview {
  @extend .bb, .b--light-gray, .pa4, .pv3, .pointer;

  .blog-title { @extend .f2, .title-font, .pb2, .b; white-space: pre-wrap; word-break: break-word; }
  .blog-content { @extend .font, .pb2; white-space: pre-wrap; word-break: break-word; }
  .blog-meta { @extend .font, .i; white-space: pre-wrap; word-break: break-word; }
}

.blog-preview:hover {
  .blog-title { color: $blue-color; }
}
