@import 'tachyons';
$blue-color: #2266AA;
$yellow-color: #EEA221;

body .home, .blog, .new-blog {
  @extend .mb5;
}

.title-font {
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
}

.font {
  font-family: 'Avenir', 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
}

.clear-btn { @extend .bn, .bg-transparent; }

.action-btn {
  @extend .clear-btn, .pa2, .ph4, .title-font, .pointer, .br3;
  background-color: $yellow-color;
  color: black;
  height: 50px;
}
.action-btn:hover { color: $blue-color; }
.inline-btn {
  @extend .clear-btn, .pa2, .title-font, .pointer, .br3;
  color: $yellow-color;
  height: 50px;
}
.inline-btn:hover { color: $blue-color; }

.link { @extend .bg-transparent, .underline, .gray, .title-font, .pointer, .f6; }

button img { height: 100%; }

.error { @extend .red, .font, .b; }

@import 'nav';

// Components
@import 'loading';
@import 'comment';
@import 'blog_preview';

// Pages
@import 'login';
@import 'register';
@import 'home';
@import 'new_blog';
@import 'blog';
